@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* { font-family: 'Roboto', sans-serif;}



nav { background: rgb(39, 39, 39); padding: 10px;}

nav h2 { color: #fff;}



.content { margin-top: 30px; }

.content .card { padding: 20px 20px 5px 20px; }

.content .col-2 { margin-right: 0px; }

.content .row { padding:0; }

.content .row.first { margin-top: 30px; }

.content .left { text-align: right; }



.content h3 { margin-top: 30px; }

